<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Le bon coin - Clone pour Incenteev.
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<nav class="navbar navbar-default bg-inverse fixed-top">

    <a class="navbar-brand" href={{ path('app_homepage') }}>Le Bon Coin</a>

    <ul class="nav navbar-nav">
        {% block homeLink %}    <li><a href="{{ path('app_homepage') }}">Accueil</a></li> {% endblock %}
        {% block publicationLink %}    <li><a href="{{ path('publication_index') }}">Toutes les annonces</a></li> {% endblock %}
        {% block newAnnounceLink %}    <li><a href="{{ path('publication_new') }}">Déposer une annonce</a></li> {% endblock %}

    </ul>


</nav>
<div class = "container">
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert alert-info">
            {{ flash_message }}
        </div>
    {% endfor %}
</div>
{% endfor %}
{% block body %}{% endblock %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}


</body>
</html>
