{% extends "::base.html.twig" %}

{% block title %}Les annonces à {{ localisation.city }}{% endblock %}

{% block body %}

    <div class="container">
        {% block searchbar %}
            {{ parent() }}
        {% endblock %}
        <div>
            <h2> {{ localisation.city }}
                {% if localisation.publications|length > 0 %}
                - Les dernieres annonces publiés: </h2>
            <table class="table table-striped">
                <tbody>
                {% for publication in localisation.publications %}
                    <tr>
                        <td>{% if publication.isanoffer %}Offre{% else %}Demande{% endif %}</td>
                        <td><a href ="{{ path('category_show', {'id' : publication.category.id}) }}">{{ publication.category.name }}</a></td>
                        <td>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">
                                {{ publication.title }}
                            </a>
                        </td>
                        <td>{{ publication.description }}</td>
                        <td>{{ publication.price }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                </h2>
                <h4> Bénéficiez d'une visibilité sans précédent en étant le premier à <a href ="{{ path('publication_new') }}">diffuser une annonce </a> à {{ localisation.city }} !</h4>
            {% endif %}
        </div>
    </div>


{% endblock %}
